html,
body {
  height: 100%;
  font-family: Georgia, serif;
  background: #fff1e5;
  font-size: 1.2em;
}

.title {
  text-align: center;
}

.chart {
  width: 30em;
  height: 30em;
  margin: 0 auto;
  border: solid;
  border-color: black;
  border-radius: 2em;
  overflow: hidden;
}